{% extends "base.html.j2" %}
{% block title %} | Collections{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="fs-1 fw-bold">All Collections</h1> 
</div>

<div>
    <a href="/collections/add">Add</a>
</div>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for collection in collections %}
    <div class="col">
        <div class="card shadow-sm">
            <img src="{{ collection.banner_image_url }}" class="card-img-top" style="width: 100%; height: 175px; object-fit: cover;">
            <div class="card-body">
                <div class="d-flex align-items-center mb-3">
                        <img src="{{ collection.image_url }}" class="rounded-circle img-thumbnail" style="width: 50px; height:50px; object-fit: cover;">
                        <h5 class="card-title ms-3 mb-0">{{ collection.name }}</h5>
                </div>
                <p class="card-text">{{ collection.description | truncate(150)}}</p>
                <a href="/collections/id/{{ collection.slug }}" class="stretched-link">More Details</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}