{% extends "base.html.j2" %}
{% block title %} | Create Dashboard{% endblock %}

{% block content %}
<h1>Update Dashboard</h1>

<form method="POST">
    {{form.csrf_token}}
    <div>
        {{ form.name.label }}
        {{ form.name() }}
        {% if form.name.errors %}
            <ul>
                {% for error in form.name.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div>
        {{ form.description.label }}
        {{ form.description() }}
        {% if form.description.errors %}
            <ul>
                {% for error in form.description.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div>
        {{ form.private.label }}
        {{ form.private() }}
        {% if form.private.errors %}
            <ul>
                {% for error in form.private.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
        <div>
        {{ form.collections.label }}
        {{ form.collections() }}
        {% if form.collections.errors %}
            <ul>
                {% for error in form.collections.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div>
        <button>Save</button>
        <a href="{{ url_for('dashboards_bp.get_dashboard', username=user.username, db_slug=dashboard.slug)}}">Cancel</a>
    </div>
</form>


{% endblock %}